body {
    background-color: black;
    color: #fff;
}

.grid {
	width: 300px;
	height: 300px;
	border: solid #fff 1px;
	display: flex;
	flex-wrap: wrap;
}

.grid div {
	width: 20px;
	height: 20px;
}

.invader {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
 }
 
 .invader-1 {
	animation: inv1 500ms infinite;
 } 

 .invader-2 {
	animation: inv2 500ms infinite;
 }

 .invader-3 {
	animation: inv3 500ms infinite;
 }

 @keyframes inv1 {
	0% 	  { background-image: url('/src/img/invader_a01.png'); }
	50%   { background-image: url('/src/img/invader_a02.png'); }
	100%  { background-image: url('/src/img/invader_a01.png'); }
}

@keyframes inv2 {
	0% 	  { background-image: url('/src/img/invader_b01.png'); }
	50%   { background-image: url('/src/img/invader_b02.png'); }
	100%  { background-image: url('/src/img/invader_b01.png'); }
}

@keyframes inv3 {
	0% 	  { background-image: url('/src/img/invader_c01.png'); }
	50%   { background-image: url('/src/img/invader_c02.png'); }
	100%  { background-image: url('/src/img/invader_c01.png'); }
}

.shooter {
	background-image: url('/src/img/player.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.laser {
	background-image: url('/src/img/powerup_blue01.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;}

.boom {
	animation: boomInv 150ms linear;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

@keyframes boomInv {
	 0%   	  { background-image: url('/src/img/invader_death01.png'); }
	20% 	  { background-image: url('/src/img/invader_death02.png'); }
	40% 	  { background-image: url('/src/img/invader_death03.png'); }
	50% 	  { background-image: url('/src/img/invader_death04.png'); }
	60% 	  { background-image: url('/src/img/invader_death05.png'); }
}

.shipBoom {
	animation: boomShip 1000ms infinite;
	animation-direction: alternate-reverse;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

@keyframes boomShip {
	0%   { background-image: url('/src/img/player_death01.png'); }
   30% 	 { background-image: url('/src/img/player_death02.png'); }
   60%	 { background-image: url('/src/img/player_death03.png'); }
   100%	 { background-image: url('/src/img/player_death04.png'); }
}